/*
SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
SPDX-License-Identifier: GPL-3.0-or-later
*/

@import './common.css';

window
{
	background: linear-gradient(180deg, @accent_bg_color 0px, @accent_bg_color 20px, @theme_bg_color 20px);
}

headerbar
{
	background: @accent_bg_color;
	color: @accent_fg_color;
}

.welcome-button
{
	border-radius: 0;
}

.file
{
	padding: 5px 10px 5px 6px;
	border-bottom: 1px solid @borders;
	background: @view_bg_color;
}

.file.selected
{
	background: alpha(@card_fg_color, 0.1);
}
