/*
SPDX-FileCopyrightText: 2021 Romain Vigier <contact AT romainvigier.fr>
SPDX-License-Identifier: GPL-3.0-or-later
*/

@import './common.css';

.accent-bg
{
	background-color: @accent_bg_color;
	color: @accent_fg_color;
}
