/*
SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
SPDX-License-Identifier: GPL-3.0-or-later
*/

@import './application.css';

window
{
	border-radius: 0;
	box-shadow: none;
}
